
    body {
      background-color: #f8f9fa;
    }

    .sidebar {
      min-height: 100vh;
      background-color: #0d6efd;
      /* New blue background */
      color: #fff;
      padding-top: 30px;
    }

    .sidebar a {
      color: #ffffffb3;
      text-decoration: none;
    }

    .sidebar a:hover,
    .sidebar .nav-link.active {
      color: #fff;
      font-weight: 500;
    }


    .profile-pic {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #0d6efd;
    }

    .section-title {
      color: #0d6efd;
      margin-top: 20px;
    }

    .content {
      padding: 30px;
    }

    .nav-link.active {
      font-weight: bold;
      color: #fff !important;
    }
